In [1]:
import pandas as pd
pd.__version__

'2.3.1'

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [4]:
num_of_rows = len(df)
print(f"The number of rows is {num_of_rows}")

The number of rows is 9704

In [8]:
fuel_type_cnt = len(pd.unique(df['fuel_type']))
print(f"The number of distinct fuel type is {fuel_type_cnt}")

The number of distinct fuel type is 2

In [10]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [16]:
df1 = df[df['origin']=='Asia']
max_value = df1['fuel_efficiency_mpg'].max()
print(f"The max fuel efficiency in Asia {max_value }")

The max fuel efficiency in Asia 25.96722204888372

In [30]:
mid_value = df['horsepower'].median()
print(f"The median value {mid_value }")

mod_value = df['horsepower'].mode()
print(f"The most frequent value {mod_value }")

df2 = df.fillna(value={'horsepower':mod_value})
mod_value2 = df2['horsepower'].median()
print(f"The median value of fillna {mod_value2 }")

The median value 149.0
The most frequent value 0    152.0
Name: horsepower, dtype: float64
The median value of fillna 149.0